header{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative;
  top: 0px;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;
  outline-color: #fff;
}

.bg-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1d1d1d;
}

.section-inner{
  width: 1400px;
  margin: 0 auto;
}

.image {
  float: left;
  margin-bottom: 1.2em;
  margin-right: 1em;
  line-height: 1;
  padding: 5px;
  box-sizing: border-box;
  font-size: 18px;
}

#primary-menu{
  line-height: 1;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  list-style-image: none;
  box-sizing: border-box;
  margin: 0;
}

.site-title{
  box-sizing: border-box;
  display: block;
}

#footer{
  margin: 0 auto;
  background-color: #262626;
  box-sizing: border-box;
  overflow: auto;
  font-size: 18px;
}

#footer-content{
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
  font-size: 0.95em;
}

.column{
  width: 30%;
  padding: 60px 0;
  margin: 0;
  float: left;
  overflow-wrap: break-word;
}

#header-title{
  box-sizing: border-box;
}

.one-third{
    margin-left: 5%;
}

.column_nav ul li{
  line-height: 130%;
  margin-top: 10px;
  padding: 1px 0 1px 14px;
  position: relative;
  margin-left: 0;
}

.button{
  background-color: #2ea2cc;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 6px 0 4px;
  color: #fff;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 10px;
  overflow: hidden;
}


#wordpress-logo{
    position: relative;
    margin-right: 3px;
    top: 3px;
    white-space: nowrap;
}

.button *{
  box-sizing: border-box;
}

.column_nav ul li::before{
  color: #13c4a5;
  content: "\00BB";
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
}

.under_widget{
  padding-top: 40px;
  border-top: 4px solid #333;
  margin-top: 40px;
}

.column_nav ul{
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
}

.credits{
  background-color: #1d1d1d;
  position: relative;
  padding: 40px 0;
  overflow: auto;
}


.credits-inner{
  margin: 0 auto;
  width: 1400px;
  max-width: 90%;
}

.main-navigation li::before{
  content: "\002F";
  color: #444;
  display: block;
  margin-right: -3px;
  margin-top: -9px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1000;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  line-height: 1;
}

.main-navigation li:last-child::before{
  content:none;
}

.menu-item a{
  color: rgb(153, 153, 153);
  box-sizing: border-box;
  display: block;
  font-size: 0.85em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 27px;
  visibility: visible;
  text-decoration-line: none;
  transition: color 0.2s ease-in-out 0s;
}

.menu-item a:hover, .menu-item a:focus{
  color: #fff;
}

footer a{
  color: #9499a0;
  transition: color 0.2s ease-in-out 0s;
}

footer a:hover, footer a:focus{
  color: #13c4a5;
}

.menu-item{
  float:left;
  margin: 0;
  position: relative;
}

.navigation{
  box-sizing: border-box;
  background-color: rgb(29, 29, 29);
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 68px;
}

header h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.cover{
  background: rgba(29,29,29,.25);
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0;
  bottom: 0;
}

.body_wrapper{
  padding: 60px 0;
  position: relative;
  box-sizing: border-box;
}

.inner_section{
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

#content{
  width: 944px;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;

}

.post-title{
  padding: 8% 10%;
  overflow-wrap: auto;
  width: 80%;
  text-align: left;
}


.post-title::before{
  border: 12px solid transparent;
  border-top-color: #eee;
  bottom: 0;
  content: "";
  display: block;
  left: 10%;
  margin-bottom: -24px;
  z-index: 10;
  position: absolute;
}

.post-title::after{
  border: 11px solid transparent;
  border-top-color: #fff;
  bottom: 0;
  content: "";
  display: block;
  left: 10%;
  margin-bottom: -21px;
  margin-left: 1px;
  z-index: 11;
  position: absolute;
}

.post-content{
  padding: 10%;
}

body{
  background-color: #cec5b0;
}

#last-edit{
  margin-bottom: 0;
}

#meta p{
  font-size: 80%;
}

.accordion{
  display: inline;
  background: white;
  border: 0;
  border-bottom: solid 1px skyblue;
  font: 18px/1.5 'Gentium Book Basic', "serif";
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: rgb(68, 68, 68);
}


.panel{
  display: none;
  padding: 0;
}

p{
  display: inline;
}

footer{
  background: #3f4854;
  display: block;
  position: relative;
  color: #9499a0;
}

footer p, footer time{
  display: block;
}

footer div{
  padding: 18px 30px 30px 30px;
}

footer nav{
  margin-top: 12px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer nav::before{
  content: "\f0a8";
  font-family: FontAwesome;
  font-size: 1.3em;
  position: absolute;
  left: 0;
}

#respond{
  padding: 10%;
}

#commentform{
  height: 36px;
  overflow: hidden;
  display: block;
  padding: 10px 10px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12) inset;
  line-height: 1;
}

#comment{
  resize: none;
  border: none;
  overflow-wrap: break-word;
  width: 100%;
  font-family: Arial;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 16px;
}

::placeholder{
  color: #999;
}

.search{
  width: 40px;
  float: right;
  font-size: 0;
  display: block;
  overflow: hidden;
}

.search::before{
  color: rgba(255, 255, 255, 0.5);
  content: "\f002";
  font-family: FontAwesome;
  font-size: 27px;
  text-align: center;
  text-indent: 0;
  display: block;
  line-height: 68px;
  transition: color 0.2s ease-in-out 0s;
}
