.fleft{
  float: left;
}

.fright{
  float: right;
}

.one-third{
    margin-left: 5%;
}

header{
  text-align: center;
  position: relative;
  top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  line-height: 120%;
}

.bg-image{
  background-position: center;
  background-size: cover;
}

.section-inner{
  width: 1400px;
  margin: 0 auto;
}

.image{
  margin-bottom: 1.2em;
  margin-right: 1em;
  line-height: 1;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #eee;
}

#primary-menu{
  line-height: 1;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
}

#footer{
  background-color: #262626;
  overflow: auto;
}

#footer-content{
  width: 1400px;
  margin: 0 auto;
  font-size: 0.95em;
}

.column{
  width: 30%;
  padding: 60px 0;
}

.column_nav ul li{
  line-height: 130%;
  margin-top: 10px;
  padding: 1px 0 1px 14px;
  position: relative;
  margin-left: 0;
}

.column_nav ul li::before{
  color: #13c4a5;
  content: "\00BB";
  position: absolute;
  font-size: 18px;
  left: 0;
  top: 0;
}

.button{
  background-color: #2ea2cc;
  border-radius: 2px;
  padding: 0 6px 0 4px;
  color: #fff;
  display: inline-block;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  overflow: hidden;
  font-weight: 700;
}

#wordpress-logo{
    position: relative;
    margin-right: 3px;
    top: 3px;
    white-space: nowrap;
}


.under_widget{
  padding-top: 40px;
  border-top: 4px solid #333;
  margin-top: 40px;
}

.column_nav ul{
  list-style-type: none;
}

.credits{
  background-color: #1d1d1d;
  padding: 40px 0;
  overflow: auto;
}


.credits-inner{
  margin: 0 auto;
  width: 1400px;
}

.main-navigation li::before{
  content: "\002F";
  margin-right: -3px;
  margin-top: -9px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1000;
}

.main-navigation li:last-child::before{
  content:none;
}

.menu-item{
  margin: 0;
  position: relative;
}

.navigation{
  background-color: rgb(29, 29, 29);
  height: 68px;
}

.cover{
  background: rgba(29,29,29,.25);
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.body-wrapper{
  padding: 60px 0;
  position: relative;
}

#content{
  width: 944px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
}

.post-title{
  padding: 8% 10%;
  width: 80%;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.post-title::before{
  border: 12px solid transparent;
  border-top-color: #eee;
  bottom: 0;
  content: "";
  display: block;
  left: 10%;
  margin-bottom: -24px;
  z-index: 10;
  position: absolute;
}

.post-title::after{
  border: 11px solid transparent;
  border-top-color: #fff;
  bottom: 0;
  content: "";
  display: block;
  left: 10%;
  margin-bottom: -21px;
  margin-left: 1px;
  z-index: 11;
  position: absolute;
}

.post-content{
  padding: 10%;
}

.post-content br{
  margin-top: 1.1em;
  display: block;
  content: "";
}

#share-this{
  margin-top: 2.7em;
}

body{
  background-color: #cec5b0;
}

#meta p{
  font-size: 80%;
}

.accordion{
  display: inline;
  background: white;
  border: 0;
  font: 18px/1.5 'Gentium Book Basic', "serif";
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: rgb(68, 68, 68);
  border-bottom: solid 1px skyblue;
}

.panel{
  display: none;
  padding: 0;
}

footer{
  background: #3f4854;
  display: block;
  position: relative;
  color: #9499a0;
}

footer #text{
  vertical-align: bottom;
}

footer p, footer time{
  display: block;
  line-height: 1.35em;
}

footer div{
  padding: 18px 30px 30px 30px;
}

footer nav{
  margin-top: 12px;
  padding-top: 20px;
  padding-left: 28px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.85em;
  position: relative;
  font-weight: 700;
}

footer nav::before{
  content: "\f0a8";
  font-family: FontAwesome;
  font-size: 1.3em;
  position: absolute;
  left: 0;
}

#respond{
  padding: 10%;
}

#commentform{
  height: 36px;
  overflow: hidden;
  display: block;
  padding: 10px 10px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12) inset;
  line-height: 1;
}

#comment{
  resize: none;
  border: none;
  overflow-wrap: break-word;
  width: 100%;
  font-family: Arial;
  color: rgba(0, 0, 0, 0.7);
}

::placeholder{
  color: #999;
}

.search{
  width: 40px;
}

.search::before{
  color: rgba(255, 255, 255, 0.5);
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 27px;
  text-align: center;
  text-indent: 0;
  display: block;
  line-height: 68px;
  transition: color 0.2s ease-in-out 0s;
}


.share-twitter::before{
  content: "\e08d";
  font-family: "Socicon";
  display: inline-block;
  font-size: 15px;
  position: relative;
  top: 1px;
  left: 2px;
  line-height: 18px;
}

.share-facebook::before{
  content: "\e028";
  font-family: "Socicon";
  display: inline-block;
  font-size: 13px;
  position: relative;
  top: 1px;
  left: 2px;
  line-height: 18px;
}

.share-google::before{
  content: "\e038";
  font-family: "Socicon";
  display: inline-block;
  font-size: 15px;
  position: relative;
  top: 1px;
  left: 2px;
  line-height: 18px;
}

#share-options ul li{
  margin: 0 5px 5px 0;
  line-height: 170%;
  display: inline-block;
}

#related{
  padding-top: 17px;
  margin: 17px 0;
  overflow: auto;
}

.trueonethird{
  width: 33%;
  display: block;
  margin: 0 0 1em 0;
}

.like-button::before{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Crect x='0' fill='none' width='24' height='24'/%3E%3Cg%3E%3Cpath fill='%232ba1cb' d='M12 2l2.582 6.953L22 9.257l-5.822 4.602L18.18 21 12 16.89 5.82 21l2.002-7.14L2 9.256l7.418-.304'/%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  position: relative;
	width: 16px;
	height: 16px;
	text-align: center;
	top: 3px;
	margin-left: -1px;
	margin-right: 1px;
	content: '';
	background-size: 16px 16px;
}

.like-button{
  margin-right: 10px;
  margin-top: 6px;
}
