body {
  font: 18px 'Gentium Book Basic', "serif";
  font-style: normal;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.post-title{
  font-family: 'Libre Baskerville', 'serif';
  font-style: italic;
  font-size: 2.25em;
}

.post-title a{
  color: #2b3542;
  line-height: 1;
  text-decoration-line: none;
  text-decoration-style: solid;
  font-weight: 400;
  transition: color 0.2s ease-in-out 0s;
}

.post-title a:hover, .post-title a:focus{
  color: rgb(19, 196, 165);
}

.post-content p{
  line-height: 180%;
}

.site-title{
  color: #fff;
  font-family: 'Libre Baskerville', 'serif';
  font-size: 2.25em;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}

.site-title a{
  color:  rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px;
  transition: color 0.2s ease-in-out 0s;
  -webkit-transition: color 0.2s ease-in-out 0s;
  position:relative;
}

.site-title a:hover, .site-title a:focus{
  color: rgb(19, 196, 165);
}

.main-navigation{
  font-size: 0.9em;
  color: rgb(68.68.68);
}

body a{
  color: #13c4a5;
  text-decoration: none;
}


.column-title{
  color: #fff;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.79em;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.credits p{
  margin: 0;
  line-height: 1;
  font-size: 0.8rem;
  color: #767676;
  font-weight: 700;
  letter-spacing: 1px;
}

.credits a{
  color: #ccc;
  text-decoration-line: none;
  text-decoration-style: none;
  transition: text-decoration-line 0.3s ease-in-out 0s;
}

.credits a:hover, .credits a:focus, .column_nav a:hover, .column_nav a:focus{
  text-decoration-line: underline;
}

.credits-right{
  float: right;
}

footer i.fa{
  font-size: 1.3em;
  position: absolute;
  left: 0;
}

footer time, footer p, footer nav{
  margin-top: 12px;
  margin-bottom: 0;
  padding: 1px 0px 1px 28px;
  font-size: 0.85em;
  font-weight: 700;
  position: relative;
}

footer a{
  color: #9499a0;
  transition: color 0.2s ease-in-out 0s;
}

footer a:hover, footer a:focus{
  color: #13c4a5;
}

#respond h3{
  margin: 15px 0;
  font-family: "Libre Baskerville", serif;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
}

#comment{
  font-size: 14px;
  line-height: 18px;
}

.search{
  font-size: 0;
}

.column_nav a{
  transition: text-decoration-line 0.3s ease-in-out 0s;
}

.menu-item a{
  color: rgb(153, 153, 153);
  display: block;
  font-size: 0.85em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 27px;
  transition: color 0.2s ease-in-out 0s;
}

.menu-item a:hover, .menu-item a:focus{
  color: #fff;
}
